body
{
  margin: 0;
}
.title
{
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 150px;
  left: calc(50% - 267.5px); /* 267.5px */
  letter-spacing: 5px;
  animation: fadein 2s;
  min-width: 535px;
}
.sub-title
{
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
  position: relative;
  top: 200px;
  letter-spacing: 5px;
  animation: fadein 2s;
}
#title-shadow
{
  color: #bbb;
  text-align: center;
  text-shadow: #fff 1px 0 100px;
  position: absolute;
  left: calc(50% - 270px); /* 267.5px */
  top: 152px;
}
#header
{
  background: #ddd;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
#header-image
{
  min-width: 528px;
  min-height: 400px;
}
#info
{
  background: #ccc;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 70%;
  height: 400px;
  float: left;
}
.content
{
  padding-left: 15px;
}
#upcoming
{
  background: #bbb;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  float: left;
  width: 30%;
  height: 400px;
}
#footer
{
  background: #aaa;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  width: 100%;
  margin-top: 400px;
  height: 100px;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
